<!-- Assuming this is part of your Angular component template -->
<div class="container mt-5">
    <h1 class="display-4">Hello, Trader!</h1>
    <p class="lead">Welcome to InStock, your app to trade in the stock market</p>
    <ul class="list-unstyled">
        <li><a href='https://angular.io/' class="text-decoration-none">Angular</a> and <a href='http://www.typescriptlang.org/' class="text-decoration-none">TypeScript</a> for client-side code</li>
        <li><a href='http://getbootstrap.com/' class="text-decoration-none">Bootstrap</a> for layout and styling</li>
    </ul>

    <!-- Navigation Links with Icons and Labels -->
    <div class="d-flex justify-content-around mt-4">
        <div>
            <a href="/Stocks" class="btn btn-outline-none text-center" style="background-color: transparent; display: inline-block;">
                <i class="bi bi-bar-chart-line-fill" style="font-size: 7rem;"></i>
                <div style="font-size: 0.8rem;">Stocks</div>
            </a>
        </div>
        <div>
            <a href="/Orders" class="btn btn-outline-none text-center" style="background-color: transparent; display: inline-block;">
                <i class="bi bi-cart-fill" style="font-size: 7rem;"></i>
                <div style="font-size: 0.8rem;">Orders</div>
            </a>
        </div>
    </div>
</div>
